*{
    font-family:Noto Sans, sans-serif; /*font eka*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;/**/
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;




}
:root{/*poduwe pawichchi kala haka*/
--palamu-line-eke-pata :#5b5b5b;
--dewani-line-eke-pata :rgb(152, 152, 152);
--home-wage-icon-colour:rgb(216, 216, 216);
--deka:rgb(163, 150, 150);
--text-colour:rgb(255, 0, 0);
--back-ground-colour:rgb(255, 0, 0);
--shadow:2px 2px 10px 14px rgba(255, 0, 0, 0);

}

section{

padding: 100px 100px ;/*home eke gahala thiyana wachana tika*/
}
body{
color: var(--palamu-line-eke-pata);/*body eke athulath text colour eka*/


}
header {/*boder eka*/
  
position: fixed;
width: 100%;/*diga*/
top: 200px;
right: 0px;
z-index: 1000;/*overlapwimedi wadi agaya uda yata agaya yata*/
display: flex;/*heder tag eke thiyana okkoma eka line ekakata aragena*/
justify-content: space-between;
align-items: center;/*madata enawa uda idan*/
padding: 20px 400px ;
background:var(--dewani-line-eke-pata);/*bar eke colour eka*/
transition: 1s linear ;/*page eka relod karaddi lassana enawa*/
}
.logo img{/*me wage image add karanna puluwan edit walata*/
width: 450px;
height: 450px;
position: fixed;
left: 0px;
top:-150px;
z-index: 1000;
}
.udama-wachana{

display: flex; /*haras atha*/

}
.udama-wachana a{/*(A)kiyanne okkoma wachana*/
padding: 10px 40px ;/*parathara*/
color:var(--home-wage-icon-colour);/*akuru pata*/
font-size: 1.4rem;/*1rm = 16px*/
text-transform: uppercase;/*kapital simpal*/
font-weight: bold;/*akuruwala ganakama*/

}
.udama-wachana a:hover{
background-color: black;
border-radius: 1rem;/*raum kirimata*/
transition-property: background-color;/*mokakda wadeta yodagane (ex: backgroun colour)*/
transition-duration: 0.7s;/*animation eka poawath wena calaya*/
transition-timing-function: linear;/*animation eke wegaya mulin thibiyayautu wegaya awasan wegaya*/

}
.header-icon{

font-size: 22px;
cursor: pointer;/*mouse eke ethanata aran gihama agillak wenawa*/
z-index: 10000;
display: flex; /*ekama atata*/  
column-gap: 50px;/*icon deka athara gap eka*/

}
.header-icon.bx{
color: black;/*search icon eka saha anith icon colour*/

}
#menu-icon{/*ara irithuna drop downeka */
color: rgb(21, 0, 255);
font-size: 24px;
z-index: 10001;
cursor: pointer;/*agillaka hadeta harawima*/
display: none;


}
.search-box  {
position: fixed;/*cone idan gananaya kere*/
top: 270px;
left: 50%;
transform: translate(-50%);
width: 90%;
box-shadow: rgb(255, 255, 255);
display: none;
}
.search-box.active{  
display: block;/*penna enawa*/
box-shadow: var(--shadow);/*shadow eka penna onanam  root eke colour ekak dising karala boder eka wate px gana edit karanna ona*/
/*transition-property: top;
transition-duration: 0.25s;
transition-timing-function: linear;*//*animation ekak*/

}

.search-box input{
border-radius: 100px;
padding: 20px;  
border: none;
outline: 100%;/*wate line eka*/
width: 100%;/*ere diga*/
font-size: 1.3rem;/*type karana watchana size eka*/
color: rgb(0, 0, 0);/*type wenne colour eka*/
}
.search-box input::placeholder{

font-size: 1rem; /*akuruwa size*/
font-weight:500; /*ganakama*/

}
.home{/*ad play wena ekka natham home page eka*/
position: fixed;
height: 100px;
top: 0px;
width: 100%;/*diga*/



background-color:var(--palamu-line-eke-pata);

}
.ad-section{
position: absolute;
top: 236px;
width: 100%;/*diga*/
height: 50rem;
background: url(image/bac.jpeg);
background-repeat: no-repeat;
background-size: cover;/*background size eka kudai nam eka auto loku karala mulu watema histhan purawanawa hadanawa*/
background-position: center;
display: grid;
grid-template-columns: 2fr 2fr;
align-items: center;
gap: 3rem;



}
.home-text h1{
font-size: 3rem;
color: rgb(255, 0, 0);

}

.home-imag{
position: absolute;
top: 100px;
left: 1300px;
    
}
.living-room{
position: absolute;
top: 2000px;
left: 100px;
}